@charset "UTF-8";
@font-face {
  font-family: Iosevka;
  /* https://raw.githubusercontent.com/be5invis/Iosevka/master/LICENSE.md */
  src: url("iosevka-term-regular.woff") format("woff");
}

html, body {
}

pre.src {
  line-stroke: bold;
  border: 2px solid red;
  background:#333;
  border:1px solid #999;
  border-radius:3px;
  color:#fff;
  overflow-y:scroll;
  padding:10px;
  font-family: Iosevka;
  max-width:800px;
}

.tag {
  display: none;
}

#content {
  max-width:1800px;
  padding: 1em;
}

p {
  max-width:800px;
}

li {
  max-width:800px;
}

#table-of-contents a:hover {
  background: #036 !important;
  color: #af0 !important;
}

/* For the comments iframe */
#comments-frame {
  height: auto;
  width: 800px;
}

@media (max-width: 600px)
{
  #comments-frame {
    width: 600px;
  }
}

@media (max-width: 300px)
{
  #comments-frame {
    width: 300px;
  }
}
