# -*- mode: conf -*-

# Copy this to .env and set up your own .env settings

# Sample of a type to use in a docker compose or something.

MYSQL_AHUNGRY_HOST=mariadb
MYSQL_AHUNGRY_USERNAME=ahungry
MYSQL_AHUNGRY_PASSWORD=ahungry
