<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% @var title %> | a hungry dot com </title>

    <!-- Bootstrap -->
    <link href="/assets/bootstrap-3.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-3.3.1/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Override styles -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
         <![endif]-->
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.png">
      <img src="/images/made-with-lisp.png">
    </div>

    <div id="menu">
      <a href="/" class="btn btn-default menu-btn">Home</a>
      <a href="/blog" class="btn btn-default menu-btn">Blog</a>
      <% @loop pages %>
        <a href="<% @var uri %>" class="btn btn-default menu-btn"><% @var title %></a>
      <% @endloop %>
      <br style="clear:both;">
    </div>

    <h1 style="clear:both;"><% @var title %></h1>

    <% @var content -escape raw %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap-3.3.1/dist/js/bootstrap.min.js"></script>

    <script src="/js/eqauctions.js"></script>

    <% @var analytics -escape raw %>
  </body>
</html>
