<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% @var title %> | a hungry dot com </title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.png" alt="ahungry logo (a green head/face thing with a big mouth open)">
    </div>

    <div id="menu">
      <a href="/" class="btn btn-default menu-btn">home</a>
      <a href="/blog" class="btn btn-default menu-btn">blog</a>
      <a href="/eqauctions" class="btn btn-default menu-btn">eqauctions</a>
      <a href="/eqauctions-live" class="btn btn-default menu-btn">eqauctions live</a>
      <br style="clear:both;">
    </div>

    <h1 style="clear:both;"><% @var title %></h1>

    <% @var content -escape raw %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/eqauctions.js"></script>
    <script src="/js/eq-item-detail.js"></script>
    <% @if analytics %>
      <% @var analytics -escape raw %>
    <% @endif %>
  </body>
</html>
