<div id="about-logger">
  <h3>Welcome to the <a href="http://project1999.com">Project1999</a> EQ Auction Logger!</h3>
  <p>
    The auction logger works by having the p1999 gaming community upload
    logs from their local log file (turned on by typing /log in game)
    and running this program here:
  </p>

  <ul>
    <li><a href="/software/eqAuction/eqAuction.windows.zip">Auction Logger (Windows)</a></li>
    <li><a href="/software/eqAuction/eqAuction.linux.7z">Auction Logger (GNU/Linux)</a></li>
    <li><a href="/software/eqAuction/eqAuction.sh">Auction Logger Shell Script (GNU/Linux or MAC)</a></li>
  </ul>

  <p>
    For further instructions, read the thread on the forum here
    <a href="http://www.project1999.com/forums/showthread.php?t=65187">Project1999 Forum</a>
  </p>

  <div class="tip">
    Filter the list by typing an item name in the input box.
    <br>
    You can search for multiple items at once by separating with
    a pipe | symbol (just above your ENTER key).
    <br>
    Please note that you can only view one item result at a time
    for the moment.
  </div>
</div>
