<link href="/css/eqauctions.css" rel="stylesheet">

<div id="wiki-box">
  <div id="wiki-box-loading">Loading from project1999.com wiki...please be patient...</div>
  <iframe src=""></iframe>
  <br>
  <button id="wiki-box-close" class="btn btn-default menu-btn wiki-box-btn">Close the wiki box</button>
</div>

<p class="hide-ad-container">
  <a id="hide-ads">Click here to show the ads and explanation (click again to hide them)!</a>
</p>

<div id="about-logger">
  <h3>Welcome to the <a href="http://project1999.com">Project1999</a> EQ Auction Logger!</h3>
  <p>
    The auction logger works by having the p1999 gaming community upload
    logs from their local log file (turned on by typing /log in game)
    and running this program here:
  </p>

  <ul>
    <li><a href="/software/eqAuction/eqAuction.windows.zip">Auction Logger (Windows)</a></li>
    <li><a href="/software/eqAuction/eqAuction.linux.7z">Auction Logger (GNU/Linux)</a></li>
    <li><a href="/software/eqAuction/eqAuction.sh">Auction Logger Shell Script (GNU/Linux or MAC)</a></li>
  </ul>

  <p>
    For further instructions, read the thread on the forum here
    <a href="http://www.project1999.com/forums/showthread.php?t=65187">Project1999 Forum</a>
  </p>

  <div class="tip">
    Filter the list by typing an item name in the input box.
    <br>
    You can search for multiple items at once by separating with
    a pipe | symbol (just above your ENTER key).
    <br>
    Please note that you can only view one item result at a time
    for the moment.
  </div>
</div>

<form id="auc-search" name="auc-search" method="post" action="/action/eq/getItem/">
  <select id="search-type" class="btn">
    <option value="either">WTB/WTS</option>
    <option value="wtb">WTB</option>
    <option value="wts">WTS</option>
  </select>
  <input type="text" id="is-filter">
  <button type="submit" id="is-filter-go">Update list</button>
  <button id="reset">Reset search</button>
  <br>
  <br>
  <select id="item-search" class="btn" multiple>
    <option value="" selected>Show all items</option>
  </select>
  <br>
  <span style="color:orange;">See an item missing?  Email me at: 'm at ahungry dot com'</span>
</form>

<div id="main">
  <% @var cms-content -escape raw %>
  <div id="auctions">
    <div id="listings">
      <% @loop auctions %>
        <div class="auc">
          [<b class='aud'><% @var time-ago %></b>]
          <b class='slr'><% @var seller %></b> auctions, '<b class='aul'><% @var listing %></b>'
        </div>
      <% @endloop %>
    </div>
  </div>
  <br style="clear:both;">
</div>
