<link href="/css/eqauctions.css" rel="stylesheet">

<div id="wiki-box">
  <div id="wiki-box-loading">Loading from project1999.com wiki...please be patient...</div>
  <iframe src=""></iframe>
  <br>
  <button id="wiki-box-close" class="btn btn-default menu-btn wiki-box-btn">Close the wiki box</button>
</div>

<p>
  <a href="/about-eqauctions">About the auction logger</a>
</p>

<form id="auc-search" name="auc-search" method="post" action="/action/eq/getItem/">
  <select id="search-type" class="btn">
    <option value="either">WTB/WTS</option>
    <option value="wtb">WTB</option>
    <option value="wts">WTS</option>
  </select>
  <input type="text" id="is-filter">
  <button type="submit" id="is-filter-go">Update list</button>
  <button id="reset">Reset search</button>
  <br>
  <br>
  <select id="item-search" class="btn" multiple>
    <option value="" selected>Show all items</option>
  </select>
  <br>
  <span style="color:orange;">See an item missing?  Email me at: 'm at ahungry dot com'</span>
</form>

<div id="main">
  <% @var cms-content -escape raw %>
  <div id="auctions">
    <div id="listings">
      <% @loop auctions %>
        <div class="auc">
          [<b class='aud'><% @var time-ago %></b>]
          <b class='slr'><% @var seller %></b> auctions, '<b class='aul'><% @var listing %></b>'
        </div>
      <% @endloop %>
    </div>
  </div>
  <br style="clear:both;">
</div>
