<div id="main">
  <% @var cms-content -escape raw %>

  <hr>

  <a href="/projects/index.html">
    Project overview of my various tinkerings.
  </a>

  <hr>

  <a href="/eqauctions" class="fancy-button">
    <h4>EQAuctions</h4>
    Project1999 auction logger.
  </a>

  <a href="https://github.com/ahungry" class="fancy-button">
    <h4>Github</h4>
    View some of my personal projects.
  </a>

  <a href="/blog" class="fancy-button">
    <h4>Blog</h4>
    Personal musings and tutorials.
  </a>

  <a href="https://twitter.com/_ahungry" class="fancy-button">
    <h4>@_ahungry</h4>
    Check out my twitter and what I've been tweeting lately.
  </a>

</div>
