<link href="/css/eqauctions.css" rel="stylesheet" />

<p>
  Not the item you were looking for?  Go <a href="/eqauctions">back</a> and
  try again! (use an exact name - otherwise this result is the best
  guess match)
</p>

<% @loop item %>

  <div class="item-detail">

    <% @if icon %>
      <img src='http://wiki.project1999.com/images/Item_<% @var icon %>.png' style='float:right;padding:10px;'>
    <% @endif %>

    <% @var name %><br>
    <% @var tooltip %><br>
    <% @var loretip %><br>
    Slot: <% @var slottip %><br>

    <% @if delaytip %>
      <% @var delaytip %><br>
    <% @endif %>

    <% @if dpstip %>
      <% @var dpstip %><br>
    <% @endif %>

    <% @if hastetip %>
      <% @var hastetip %><br>
    <% @endif %>

    <% @if regentip %>
      <% @var regentip %><br>
    <% @endif %>

    <% @if statstip %>
      <% @var statstip %><br>
    <% @endif %>

    <% @if resiststip %>
      <% @var resiststip %><br>
    <% @endif %>

    <% @if proctip %>
      <% @var proctip %><br>
    <% @endif %>

    <% @if clicktip %>
      <% @var clicktip %><br>
    <% @endif %>

    <% @if weighttip %>
      WT: <% @var weighttip %>
    <% @endif %>

    <% @if sizetip %>
      Size: <% @var sizetip %><br>
    <% @endif %>

    <% @if classtip %>
      Class: <% @var classtip %><br>
    <% @endif %>

    <% @if racetip %>
      Race: <% @var racetip %><br>
    <% @endif %>

    <div class="item-price">
      <% @if pweektip %>
	$ Week: <% @var pweektip %> <span class="price-space">/</span>
      <% @endif %>

      <% @if pmonthtip %>
	$ Month: <% @var pmonthtip %> <span class="price-space">/</span>
      <% @endif %>

      <% @if palltip %>
	$ All Time: <% @var palltip %> <span class="price-space">/</span>
      <% @endif %>
    </div>

  </div>
<% @endloop %>

<div class="ad-container">
  <% @if ad-one %>
    <% @var ad-one -escape raw %>
  <% @endif %>
  <br style="clear:both;">
</div>

<br style="clear:both;" />

<% @loop auctions %>
  <div class="item-detail-auctions">
    <div class='auc'>
      [<b class='aud'><% @var time-ago %></b>]
      <b class='slr'>
	<% @var seller %>
      </b> auctions, '<b class='aul'><% @var listing %>.</b>'
    </div>
  </div>
<% @endloop %>
